/* ///600 이하 (모바일)/// */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-jp.css");

body {
  background-color: #171F26;
  color: #fff;
  font-size: 12px;
  font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #2DF781;
  padding-bottom: 0.4rem;
  /* text-align: center; */
  text-align: left;
  line-height: 3.2rem;
}

p {
  /* text-align: center; */
  text-align: left;
  line-height: 1.6rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-weight: bold;
}

.about_us,
.ocean_condition,
.game_video,
.brand_video {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 0.8rem;
  padding: 1.2rem;
  margin: 0 1.6rem 1.2rem;
  /* z-index: -10; */
}

.Team_logo {
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  display: block;
  padding: 6rem 0;
  position: static;
  z-index: 10;
}

.bubble_box {
  position: absolute;
  /* z-index: 10; */
  animation: fadein 8s;
}

.About_button {
  text-align: center;
  background-color: #2DF781;
  color: #171F26;
  border-radius: 0.8rem;
  border: 0;
  outline: 0;
  width: 100%;
  height: 2.8rem;
  margin-top: 0.8rem;
  font-weight: bold;
}

.circle_flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.circle_1and2,
.circle_3and4 {
  display: flex;
  align-items: center;
}

.circle_1,
.circle_2,
.circle_3,
.circle_4 {
  margin: 0.4rem;
}

.circleBold {
  color: #2DF781;
  /* font-size: 1.2rem; */
}

.circle_img {
  height: 100%;
}

.truck {
  height: 1.2rem;
  padding-bottom: 0.4rem;
}

.triangle_under {
  height: 0.8rem;
}

.process {
  margin-top: 0.4rem;
}

.game_video,
.brand_video {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* z-index: 100; */
  background-color: #333A40;
}

.game_video_title,
.brand_video_title {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #2DF781;
  letter-spacing: 0.028rem;
}

.brand_video_introduction {
  text-align: left;
}

.game_video_introduction {
  text-align: left;
}

.video_size {
  width: 100%;
  border-radius: 0.6rem;
  margin-top: 0.4rem;
}

#footer {
  background-color: rgba(0, 0, 0, 0.51);
  color: #fff;
  /* padding: 2.6rem; */
}

.dl {
  display: flex;
  padding-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dt::after {
  content: ':';
  padding: 0.4rem;
}



@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ///600 이상 (데스크탑)/// */

@media screen and (min-width: 1200px) {

  body {
    background-color: #171F26;
    color: #fff;
    font-size: 16px;
    font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }

  h2 {
    font-weight: bold;
    font-size: 2.4rem;
    color: #2DF781;
    padding-bottom: 0.4rem;
    text-align: center;
    line-height: 3.2rem;
  }

  p {
    text-align: center;
    line-height: 1.6rem;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-weight: bold;
  }


  .about_us {
    align-items: center;
  }

  .flex_big_1,
  .flex_big_2 {
    display: flex;
    justify-content: space-between;
  }

  .flex_big_1 {
    display: flex;
    flex-direction: column;
  }

  .about_us,
  .ocean_condition,
  .game_video,
  .brand_video {
    margin: 1.2rem;
  }


  .brand_video {
    margin-left: 1.2rem;
    justify-content: space-between;
    margin-right: 0;
    text-align: left;
  }


  .game_video {
    margin-right: 1.2rem;
  }

  .ocean_condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .ocean_condition_1 {
    display: flex;
    flex-direction: column;
  }

  .circle_flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .flex_big_2 {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }

  .process {
    width: 50%;
    margin: auto;
    display: block;
    padding-top: 1.2rem;
  }
}