/* ///600 이하 (모바일)/// */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-jp.css");

body {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 2.4em;
  color: #2DF781;
  padding-top: 1.2em;
  padding-bottom: 0.4em;
  text-align: center;
}

p {
  text-align: center;
  line-height: 1.6em;
}

.top {}


.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 1.2em;
  font-weight: bold;
  margin: 0 1.6em;
  border-radius: 0.8em;
}

.about_us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About_button {
  text-align: center;
  background-color: #2DF781;
  color: #000;
  border-radius: 0.8em;
  outline: 0;
  width: 16em;
  height: 2.8em;
  margin-top: 0.8em;
  margin-bottom: 1.2em;
  font-weight: bold;
}


/* ///600 이상 (데스크탑)/// */

@media screen and (min-width: 600px) {

  h2 {
    font-weight: bold;
    font-size: 4.8em;
  }
}